:root {
    --book-cover-width: 200px;
    --book-cover-width-large: 325px;
    --book-cover-aspect-ratio: 0.75;
    --book-cover-width-medium: 250px;
}

.book-cover {
    width: var(--book-cover-width);
    height: calc(var(--book-cover-width) / var(--book-cover-aspect-ratio));
}

.book-cover-large {
    --book-cover-width: var(--book-cover-width-large);
}

.book-grid {
    display: grid;
    justify-content: center;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, var(--book-cover-width));
}

.book-grid-large {
    grid-template-columns: repeat(auto-fill, var(--book-cover-width-large));
}

.book-details {
    display: flex;
}

.book-details-cover {
    --book-cover-width: var(--book-cover-width-medium);
}

.book-details-label {
    font-size: 1.2rem;
    font-weight: 500;
    align-self: flex-start;
}

.book-details-text {
    font-weight: 200;
}

.book-details-grid {
    display: grid;
    align-content: flex-start;
    align-items: center;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    margin-left: 1.5rem;
}

.book-details-btn-grid {
    display: grid;
    justify-items: stretch;
    align-items: start;
    align-content: start;
    grid-gap: 0.5rem;
    margin-top: 0.5rem;
}

.book-details-grid > .book-details-label:last-of-type,
.book-details-author-btn {
    grid-column: span 2;
}

.book-details-grid p {
    white-space: pre-wrap;
    margin: 0;
    grid-column: span 2;
}
